[flake8]
max-line-length = 125

ignore =
    DAR101, # Missing parameter(s) in Docstring
    DAR201, # Missing "Returns" in Docstring
    WPS306, # Used dataclasses
    S410,   # Using etree to parse untrusted XML data is known to be vulnerable to XML attacks.
